.pricing-price{
  font-size: 25px !important;
  letter-spacing: 2.5px;
}
.pricing-heading{
  line-height: 1;
  margin: 0;
  padding-bottom: 0;
}
.pricing-heading p{
  margin: 0;
  padding: 0;
}
section{
  padding: 20px 0;
}
.pricing li{
  line-height: 24px !important;
}
