body{
  padding-bottom: 70px;
}
.pricing-price{
  font-size: 25px !important;
  letter-spacing: 2.5px;
}
.pricing-heading{
  line-height: 1;
  margin: 0;
  padding-bottom: 0;
}
.pricing-heading p{
  margin: 0;
  padding: 0;
}
section{
  padding: 20px 0;
}
.topsection{
  padding: 100px 0 0 0;
}
.pricing li{
  line-height: 24px !important;
}
.maxitemsize{
  max-width: 150px;
  min-width: 150px;
  width: 150px;
}
#logo{
  width: 320px;
  height: 281px;
}
.pricing{
  background-color: #fff;
}
.pricing-box{
   min-height: 750px;
}
.roombuttons{
  width: 150px;
  margin: 10px;
  position: inline;
}
.roombutton{
  position: inline-block;
}
