section#section-hero.hero
  .container
    header.text-center
      h1 Wisely
    .row
      .col-xs-12.text-center
        img.feature-icon#logo(src='/assets/wisely-owl-lg.jpg')
        h4 Choose Wisely
        p For small home construction and remodeling companies that want to help their customers make decisions, wisely.
