section#section-pricing.pricing
  .container
    .row
      .col-xs-12.text-center
        header
          h3 Projects
        section
          .row
            .col-md-4(ng-repeat='project in projects' ng-click='showProject(project._id)')
              div.project-pricing-box.pricing-box
                div.pricing-description
                  img.img-responsive(base-sixty-four-image='project.photo')
                div.pricing-price {{project.name | capitalize}}
                div.pricing-heading
                  p(ng-repeat='addressLine in project.address') {{addressLine}}
                ul.pricing-list
                  li 
                    i.fa.fa-square-o(ng-hide='project.isRemodel')
                    i.fa.fa-check-square-o(ng-show='project.isRemodel')
                    span &nbsp; Remodel
                  li 
                    i.fa.fa-square-o(ng-hide='project.isActive')
                    i.fa.fa-check-square-o(ng-show='project.isActive')
                    span &nbsp; Active Record
                  li 
                    i.fa.fa-square-o(ng-hide='project.choicesAvailable')
                    i.fa.fa-check-square-o(ng-show='project.choicesAvailable')
                    span &nbsp; Choices to Be Made
                div.pricing-cta(ng-if='activeUser.role === 255')
                  button.btn.btn-inverse.btn-md(ng-if='activeUser.role >= 127' ng-click='edit(project._id); $event.stopPropagation()'): i.fa.fa-pencil &nbsp; Edit
                  button.btn.btn-inverse.btn-md(ng-if='activeUser.role >= 127' ng-click='remove(project._id); $event.stopPropagation()'): i.fa.fa-trash &nbsp; Delete
