section#useradmin
  .container
    .row
      .col-xs-12.text-center
        header
          h3 Create Project
        section
          form(name='newUserForm')
            input.form-control.input-sm(type='text' name='name' ng-model='project.name' placeholder='Project name...')
            textarea.form-control.input-sm(rows='2' name='address' ng-model='project.address' placeholder='Project address...')
            br
            label(for='remodel') &nbsp; Remodel?
            input(type='checkbox' name='remodel' ng-model='project.isRemodel')
            br
            input.form-control.input-sm(type='number' ng-model='project.baseCost' placeholder='Project base cost...')
            button(ng-hide='editProject').btn.btn-inverse.btn-block(ng-click='create(project)') Create Project
            button(ng-show='editProject').btn.btn-inverse.btn-block(ng-click='save(project)') Save Project
