section
  header.text-center
    h2 {{project.name | capitalize}}
section#section-info.info(ng-show='step === "header"')
  .info-section-white
    .container
      .row
        .col-md-6.pull-right.gallery-popup
          img.img-responsive(base-sixty-four-image='project.photo')
        .col-md-6.pull-left
          h3 Photo w00t
          p some text here
      .row
        .col-xs-12
          br
          button.btn-hg(ng-click='getStarted()').btn.btn-inverse.btn-block Get Started
section.text-center(ng-show='step === "collection"')
  ul.nav.nav-tabs.nav-justified
    li.roombutton.list-group-item(role='presentation' ng-repeat='room in project.rooms' ng-click='selectRoom(room)' ng-class='{"active": room === selectedRoom}') {{room.name}}&nbsp;&nbsp;
      span.badge {{room.itemCollections.length}}
  ul.nav.nav-tabs.nav-justified
    li.roombutton.list-group-item(role='presentation' ng-repeat='collection in selectedRoom.itemCollections' ng-click='selectCollection(collection)' ng-class='{"active": collection === selectedCollection}') {{collection.name}}&nbsp;&nbsp;
      span.badge {{collection.items.length}}
#section-slideshow.info-section-gray(ng-show='step === "collection"')
  .container
    .row
      .col-md-6
        // ////////// CAROUSEL SLIDER //////////
        // declaring the carousel slides
        .myCarousel.carousel.slide
          ol.carousel-indicators
            li.active(data-target=".myCarousel", data-slide-to="0")
            li(data-target=".myCarousel", data-slide-to="1")
            li(data-target=".myCarousel", data-slide-to="2")
          // The carousel items themselves
          .carousel-inner
            // ////////// Carousel Item 1 //////////
            .active.item.gallery-popup
              //- a(href="http://placehold.it/800x600")
              img.img-responsive(src="http://placehold.it/800x600", alt="placeholder image", title="placeholder image")
            .item.gallery-popup
              //- a(href="http://placehold.it/800x600")
              img.img-responsive(src="http://placehold.it/800x600", alt="placeholder image", title="placeholder image")
              // Here's how you add a caption
              .carousel-caption
                h4 You can add captions
                p
                  | Kudos to 
                  a(href="#", target="_blank") Author Link 
                  | for the wonderful illustrations!
              // /caption
            // ////////// end of Carousel Item 1 //////////
            // ////////// Carousel Item 2 //////////
            .item.gallery-popup
              a(href="http://placehold.it/800x600")
                img.img-responsive(src="http://placehold.it/800x600", alt="placeholder image", title="placeholder image")
            // ////////// end of Carousel Item 2 //////////
          // Carousel navigation arrows
          a.carousel-control.fui-arrow-left.left(href=".myCarousel", data-slide="prev")
          a.carousel-control.fui-arrow-right.right(href=".myCarousel", data-slide="next")
      // ////////// end of CAROUSEL SLIDER //////////
      .col-md-6
        h3(ng-show='project.baseCost') Base cost: {{project.baseCost | currency : fractionSize : 0}}
        ul
        p.modal-trigger
          | By the way, if the popover was still too small to show what you want, you can go with a full-blown 
          a(data-toggle="modal", href="#myModal") modal window
          | !
        //- // ////////// MODAL WINDOW EXAMPLE //////////
        //- #myModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        //-   .modal-dialog
        //-     .modal-content
        //-       .modal-header
        //-         button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
        //-         h4.modal-title I am a modal window, and no one can beat me!
        //-       .modal-body
        //-         // Columns within the modal window
        //-         .row
        //-           .col-md-3
        //-             img(src="img/icons/dynamite.svg", alt="", title="")
        //-           .col-md-9
        //-             p.lead
        //-               | Booom! Now we"re talking. Imagine all the things you could say in a big modal window like this!
        //-         p
        //-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, omnis, sunt illum et minima facilis rerum eaque ullam quasi aperiam soluta beatae vero atque pariatur ab ad temporibus accusamus necessitatibus.
        //-       .modal-footer
        //-         button.btn.btn-primary(type="button", data-dismiss="modal") Hell Yeah!
        //-         button.btn.btn-danger(type="button", data-dismiss="modal") Close Window
        //-     // /.modal-content
        //-   // /.modal-dialog
        //- // ////////// MODAL WINDOW EXAMPLE //////////
        //- p
        //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?
    // /row
  // /container
// /info-section-gray
