section
  header.text-center
    h2 {{project.name | capitalize}}
section#section-info.info(ng-show='step === "header"')
  .info-section-white
    .container
      .row
        .col-md-6.pull-right.gallery-popup
          img.img-responsive(base-sixty-four-image='project.photo')
        .col-md-6.pull-left
          h3 Photo w00t
          p some text here
      .row
        .col-xs-12
          br
          button.btn-hg(ng-click='getStarted()').btn.btn-inverse.btn-block Get Started
section(ng-show='step === "selection"')
  .container
    .row
      .col-xs-12
        h3(ng-show='project.baseCost') Base cost: {{project.baseCost | currency : fractionSize : 0}}
        table.table.table-striped
          thead
            tr
              th Room
              th Collection
              th Cost
          tbody
            tr(ng-repeat='impact in captureImpacts | orderBy : cost') 
              td {{impact.room}}
              td {{impact.collection}}
              td {{impact.cost | currency : fractionSize : 0}}
section.text-center(ng-show='step === "selection"')
  ul.nav.nav-tabs.nav-justified
    li.roombutton.list-group-item(role='presentation' ng-repeat='room in project.rooms' ng-click='selectRoom(room)' ng-class='{"active": room === selectedRoom}') {{room.name}}&nbsp;&nbsp;
      span.badge(ng-show='room.itemCollections.length') {{room.itemCollections.length}}
  ul.nav.nav-tabs.nav-justified
    li.roombutton.list-group-item(role='presentation' ng-repeat='collection in selectedRoom.itemCollections' ng-click='selectCollection(collection)' ng-class='{"active": collection === selectedCollection}') {{collection.name}}&nbsp;&nbsp;
      span.badge {{collection.items.length}}
#section-slideshow.info-section-gray(ng-show='step === "collection"')
  .col-xs-12
    hr
    section#section-pricing.pricing
      .col-xs-12
        button.btn-hg(ng-click='saveSelection()').btn.btn-inverse.btn-block Save Selection
      .col-md-3(ng-repeat='item in selectedCollection.items' ng-click='selectItem(item)')
        div.item-pricing-box.pricing-box(ng-class='{"unselected-item": selectedItem && selectedItem !== item, "selected-item": selectedItem && selectedItem === item}')
          div.pricing-description
            img.img-responsive(ng-src='{{item.photo}}')
          div.pricing-price(ng-class='{"selected-item-color": selectedItem === item}') {{item.name}}
          div.pricing-heading
            p {{determineCostImpact(selectedCollection, item._id) | currency : fractionSize : 0}}
              
