section
  .container
    .row(ng-if='step === "header"')
      .col-xs-12.text-center
        header
          h3(ng-hide='editMode') Create Project
          h3(ng-show='editMode') Edit Project
        section
          form(name='projectForm')
          .row
            .col-xs-12.col-sm-6
              .form-group
                label(for='name') Name
                input.form-control.input-sm(type='text' name='name' ng-model='project.name' placeholder='Project name...')
            .col-xs-12.col-sm-6
              .form-group
                label(for='address') Address
                textarea.form-control.input-sm(rows='2' name='address' ng-model='project.address' placeholder='Project address...')
            .col-xs-12.col-sm-6
              .form-group
                input(type='file' ng-model='project.photo' base-sixty-four-input)
                img.maxitemsize(base-sixty-four-image='project.photo')
              .form-group
                label(for='remodel') &nbsp; Remodel?
                input(type='checkbox' name='remodel' ng-model='project.isRemodel')
            .col-xs-12.col-sm-6
              .form-group
                label(for='basecost') Base Cost
                input.form-control.input-sm(type='number' name='basecost' ng-model='project.baseCost' placeholder='Project base cost...')
            .col-xs-12.col-sm-6
              .form-group
                label(for='client') Client
                select(ng-options='user.firstName + " " + user.lastName for user in users' name='client' ng-model='project.client').input-sm.select2-choice
            .col-xs-12.col-sm-6
              .form-group
                label(for='projman') Project Manager
                select(ng-options='user.firstName + " " + user.lastName for user in users' name='projman' ng-model='project.projMan').input-sm.select2-choice
            .col-xs-12
              button(ng-hide='editMode').btn.btn-inverse.btn-block(ng-click='create(project)') Create Project and Continue
              button(ng-show='editMode').btn.btn-inverse.btn-block(ng-click='save(project)') Save Project and Continue
    .row(ng-if='step === "collections"')
      .col-xs-12.text-center
        header
          h3 Collections for {{project.name | capitalize}}
          button.btn.btn-inverse(ng-click='editHeader()') Edit Header
    .row(ng-if='step === "collections"')
      .col-xs-12.col-sm-6
        section
          select.input-sm.select2-choice(ng-model='roomSelect')
            option(ng-repeat='roomToSelect in config.rooms') {{roomToSelect}}
        button.btn.btn-inverse.btn-block(ng-click='addRoom(roomSelect)') Add Room
        ul.list-group
          li.list-group-item(role='presentation' ng-click='setActiveRoom(room)' ng-repeat='room in project.rooms track by $index' ng-class='{"active": room === activeRoom}') 
            button.btn-danger.btn-sm(ng-click='removeRoom(room); $event.stopPropagation()'): i.fa.fa-trash
            span &nbsp; {{room.name}}
        button(ng-hide='editMode' ng-click='create(project)').btn.btn-inverse.btn-block Create Project and Continue
        button(ng-show='editMode' ng-click='save(project)').btn.btn-inverse.btn-block Save Project and Continue
      .col-xs-12.col-sm-6
        h4 Collections Added for Room
        ul.list-group
          li.list-group-item(role='presentation' ng-repeat='addedCollection in activeRoom.itemCollections track by $index') 
            button.btn-info.btn-sm(ng-click='editCollection(addedCollection)'): i.fa.fa-pencil
            button.btn-danger.btn-sm(ng-click='removeCollection(addedCollection.$index)'): i.fa.fa-trash
            span &nbsp; {{addedCollection.name}}
      .col-xs-12.col-sm-6
        h4 Collections to Choose From
        ul.list-group
          li.list-group-item(role='presentation' ng-repeat='collectionItem in collections' ng-click='setActiveCollection(collectionItem)' ng-class='{"active": collectionItem === collection}') {{collectionItem.name}}
    .row(ng-if='step === "collections"')
      .col-xs-12
        br
        p Cost driver:
          span {{collection.costDriver}}
        .form-group
          .row
            .col-xs-6
              input.form-control.input-sm(type='number' name='numofunits' ng-model='collection.numOfUnits' placeholder='Number of units required...')
            .col-xs-6
      .col-xs-12
        button(ng-click='saveCollectionChoices(collection.items)').btn.btn-inverse.btn-block Save Choices
      .col-xs-12
        hr
        table.table.table-striped
          thead
            tr
              th Photo
              th(ng-click='sort("name")')
                i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "name"')
                i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "name"')
                span &nbsp; Name
              th.hidden-xs(ng-click='sort("extdDesc")')
                i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "extdDesc"')
                i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "extdDesc"')
                span &nbsp; Extended Description
              th.hidden-xs(ng-click='sort("materialPerUnit")')
                i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "materialPerUnit"')
                i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "materialPerUnit"')
                span &nbsp; Materials Cost Per Unit
              th.hidden-xs(ng-click='sort("laborHrsPerUnit")')
                i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "laborHrsPerUnit"')
                i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "laborHrsPerUnit"')
                span &nbsp; Labor Hours Per Unit
              th Include in Choices
          tbody
            tr(ng-repeat='item in collection.items | orderBy : sortColumn : sortReverse' ng-click='showCollection(collection._id)')
              td: img.img-responsive.maxitemsize(ng-src='{{item.photo}}')
              td {{item.name}}
              td.hidden-xs {{item.extdDesc}}
              td.hidden-xs {{item.materialPerUnit | currency : fractionSize : 0}}
              td.hidden-xs {{item.laborHrsPerUnit}}
              td: input(type='checkbox' ng-model='item.checked')
