section
  .container
    .row
      .col-xs-12
        header.text-center
          h3 Collections
        section.text-center
          .row
            section(ng-hide='createOrEditCollection')
              button(ng-click='createButton()') Create a New Collection
        section.text-center(ng-show='createOrEditCollection')
          .row
            .col-xs-12
              h4(ng-hide='editCollection') Create a Collection
              h4(ng-show='editCollection') Edit Collection
          .row
            .col-xs-12.col-sm-6
              form(name='newCollectionForm')
                .form-group
                  label(for='name') Name
                  input.form-control.input-sm(type='text' name='name' ng-model='collection.name' placeholder='Collection name...')
                .form-group
                  label(for='costdriver') Cost Driver
                  input.form-control.input-sm(type='text' name='costdriver' ng-model='collection.costDriver' placeholder='Cost driver...')
            .col-xs-12.col-sm-6
              .form-group
                label(for='rooms') Add Room
                select.input-sm.select2-choice(ng-model='roomFromList' name='rooms' ng-change='addRoom(roomFromList)')
                  option(ng-repeat='roomFromList in config.rooms') {{roomFromList}}
              h5 Rooms
              ul.list-group
                li.list-group-item(ng-repeat='room in collection.rooms | orderBy: room') {{room}}
                  button.fltright.btn.btn-sm.btn-danger(ng-click='removeRoom(room)'): i.fa.fa-trash
          .row
            .col-xs-12
              br
              button(ng-hide='editCollection' ng-click='create(collection)').btn.btn-inverse.btn-block Create Collection
              button(ng-show='editCollection' ng-click='save(collection)').btn.btn-inverse.btn-block Save Collection
        section
          table.table.table-striped
            thead
              tr
                th(ng-click='sort("name")')
                  i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "name"')
                  i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "name"')
                  span &nbsp; Name
                th(ng-click='sort("costDriver")')
                  i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "costDriver"')
                  i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "costDriver"')
                  span &nbsp; Cost Driver
                th.text-center Rooms
                th(ng-click='sort("items")')
                  i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "items"')
                  i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "items"')
                  span &nbsp; Items
                th Edit
                th Delete
            tbody
              tr(ng-repeat='collection in collections | orderBy : sortColumn : sortReverse' ng-click='showCollection(collection._id)')
                td {{collection.name}}
                td {{collection.costDriver}}
                td: ul
                  li.text-center.nobullets(ng-repeat='room in collection.rooms | orderBy: room') {{room}}
                td {{collection.items.length}}
                td: button.btn.btn-inverse.btn-block.btn-sm(ng-click='edit(collection); $event.stopPropagation()'): i.fa.fa-pencil
                td: button.btn.btn-inverse.btn-block.btn-sm(ng-click='remove(collection); $event.stopPropagation()'): i.fa.fa-trash
            
