section
  .container
    .row
      .col-xs-12.text-center
        header
          h3 {{collection.name | capitalize}} Collection
        section
          .row
            .col-xs-6
              p Cost driver: {{collection.costDriver}}
            .col-xs-6
              .row
                p Rooms: &nbsp;
                  span(ng-repeat='room in collection.rooms track by $index') {{room}} 
                    span(ng-show='!($last)') |&nbsp;
          .row
            section(ng-hide='createOrEditItem')
              button(ng-click='createButton()') Create a New Item
        header(ng-show='createOrEditItem')
          h3(ng-show='editItem') Edit Item
          h3(ng-hide='editItem') Create Item
        section(ng-show='createOrEditItem')
          .row
            .col-xs-12.col-sm-6
              form(name='editItemForm')
                .form-group
                  label(for='name') Name
                  input.form-control.input-sm(type='text' name='name' ng-model='item.name' placeholder='Item name...')
                .form-group
                  label(for='extddesc') Description
                  input.form-control.input-sm(type='text' name='extddesc' ng-model='item.extdDesc' placeholder='Item description...')
                .form-group
                  label(for='materialcost') Material Cost Per Unit
                  input.form-control.input-sm(type='number' name='materialcost' ng-model='item.materialPerUnit' placeholder='Item material cost per unit...')
                .form-group
                  label(for='laborhours') Labor Hours Per Unit
                  input.form-control.input-sm(type='number' name='laborhours' ng-model='item.laborHrsPerUnit' placeholder='Item labor hours per unit...')
            .col-sm-6.text-center
              img.maxitemsize.img-responsive(base-sixty-four-image='item.photo')
              input.form-control.input-sm(type='file' ng-model='item.photo' base-sixty-four-input)
            .col-xs-12
              button(ng-hide='editItem').btn.btn-inverse.btn-block(ng-click='create(item)') Create Item
              button(ng-show='editItem').btn.btn-inverse.btn-block(ng-click='save(item)') Save Item
        section
          table.table.table-striped
            thead
              tr
                th Photo
                th(ng-click='sort("name")') 
                  i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "name"')
                  i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "name"')
                  span &nbsp; Name
                th.hidden-xs(ng-click='sort("extdDesc")')
                  i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "extdDesc"')
                  i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "extdDesc"')
                  span &nbsp; Extended Description
                th.hidden-xs(ng-click='sort("materialPerUnit")')
                  i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "materialPerUnit"')
                  i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "materialPerUnit"')
                  span &nbsp; Materials Cost Per Unit
                th.hidden-xs(ng-click='sort("laborHrsPerUnit")')
                  i.fa.fa-sort-desc(ng-show='sortReverse && sortColumn === "laborHrsPerUnit"')
                  i.fa.fa-sort-asc(ng-show='!sortReverse && sortColumn === "laborHrsPerUnit"')
                  span &nbsp; Labor Hours Per Unit
                th Edit / Delete
            tbody
              tr(ng-repeat='item in collection.items | orderBy : sortColumn : sortReverse' ng-click='showCollection(collection._id)')
                td: img.img-responsive.maxitemsize(ng-src='{{item.photo}}')
                td {{item.name}}
                td.hidden-xs {{item.extdDesc}}
                td.hidden-xs {{item.materialPerUnit | currency : fractionSize : 0}}
                td.hidden-xs {{item.laborHrsPerUnit}}
                td
                  button.btn.btn-block.btn-sm.btn-info(ng-click='edit(item)'): i.fa.fa-pencil
                  button.btn.btn-block.btn-sm.btn-danger(ng-click='remove(item)'): i.fa.fa-trash
                
