header.header(ng-controller='NavCtrl')
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        img(src='/assets/wisely-owl-sm.png')
        a.navbar-brand(href='/') Wisely
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right(ng-show='activeUser')
          li: a(ui-sref='home') Home
          //- li: a(ui-sref='about'): i.fa.fa-info &nbsp; About
          //- li: a(ui-sref='faq'): i.fa.fa-question &nbsp; FAQ
          //- li: a(ui-sref='contact'): i.fa.fa-phone &nbsp; Contact
          li: a(ui-sref='projects.new' ng-if='activeUser.role >= 127') New Project
          li: a(ui-sref='projects.list' ng-if='activeUser.role >= 1') Projects
          li: a(ui-sref='collections.list' ng-if='activeUser.role >= 127') Collections
          li: a(ui-sref='userAdmin' ng-if='activeUser.role === 255') User Admin
          li: a(ng-click='logout()') Log Out
        ul.nav.navbar-nav.navbar-right(ng-hide='activeUser')
          li: a(ui-sref='home') Home
          //- li: a(ui-sref='about'): i.fa.fa-info &nbsp; About
          //- li: a(ui-sref='faq'): i.fa.fa-question &nbsp; FAQ
          //- li: a(ui-sref='contact'): i.fa.fa-phone &nbsp; Contact
          li: a(ui-sref='login') Login
