section
  .container
    .row
      .col-xs-12.text-center
        header
          h3 User Administration
        section(ng-hide='createOrEdit')
          button(ng-click='createButton()') Create a User
        section(ng-show='createOrEdit')
          h4(ng-hide='editUser') Create a New User
            button.btn-danger.btn-xs(ng-click='cancel()') Cancel
          h4(ng-show='editUser') Edit User
            button.btn-danger.btn-xs(ng-click='cancel()') Cancel
          form(name='newUserForm')
          .row.text-left
            .col-xs-12.col-sm-6
              label(for='firstname') First Name
              input.form-control.input-sm(type='text' name='firstname' ng-model='user.firstName' placeholder='First name...')
            .col-xs-12.col-sm-6
              label(for='lastname') Last Name
              input.form-control.input-sm(type='text' name='lastname' ng-model='user.lastName' placeholder='Last name...')
            .col-xs-12.col-sm-6
              label(for='email') Email
              input.form-control.input-sm(type='email' name='email' ng-model='user.email' placeholder='Email address...')
            .col-xs-12.col-sm-6
              label(for='phone') Phone
              input.form-control.input-sm(type='tel' name='phone' ng-model='user.phone' placeholder='Phone number...')
            .col-xs-12.col-sm-6
              label(for='password') Password
              input.form-control.input-sm(type='password' name='phone' ng-model='password1' placeholder='Password...')
              input.form-control.input-sm(type='password' name='phone' ng-model='password2' placeholder='Password validation...')
            .col-xs-12.col-sm-6
              label(for='role') Role
              select.input-sm.select2-choice(name='role' ng-model='role')
                option(value=1) Client
                option(value=127) Project Manager
                option(value=255) Admin
            .col-xs-12
              br
              button(ng-hide='editUser').btn.btn-inverse.btn-block(ng-click='create(user)') Create User
              button(ng-show='editUser').btn.btn-inverse.btn-block(ng-click='save(user)') Save User
        section
          h4 List of Users
          table.table.table-striped
            thead
              tr
                th(ng-click='sort("lastName")') Name
                th(ng-click='sort("email")') Email
                th(ng-click='sort("phone")') Phone
                th(ng-click='sort("role")') Role
                th(ng-click='sort("createdAt")') Created
                th Edit
                th Delete
            tbody
              tr(ng-repeat='user in users | orderBy : sortColumn : sortReverse')
                td {{user.firstName}} {{user.lastName}}
                td {{user.email}}
                td {{user.phone}}
                td {{user.role}}
                td {{user.createdAt | date:'dd-MMM-yyyy'}}
                td: button.btn.btn-inverse.btn-block.btn-sm(ng-click='edit(user)'): i.fa.fa-pencil
                td: button.btn.btn-inverse.btn-block.btn-sm(ng-click='remove(user)'): i.fa.fa-trash
